html, body {
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: white;
    background-image: url("assets/quest2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .blur {
    backdrop-filter: blur(5px);
  }
  
  .startbutton {
    background-color: black;
    color: white;
  }